<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StreetFinder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.conditional.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("HeaderScript", required: false)
</head>
<body>
    <header>
        <div class="banner">
            <H1>Street Finder</H1>
            <H3>Search for partial street names in NOVA area</H3>
        </div>
    </header>
    <div class="content">
            @RenderBody()
    </div>

    <!-- @await RenderSectionAsync("Scripts", required: false) -->

</body>
</html>