@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

h1 {
    font-size: 40pt;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3{
    margin: 0px;
}

div.banner {
    display: block;
    width: 98%;
    margin: 30px;
    padding: 2em;
    background-image: url("../streetsbg.jpg");
    background-size: cover
}

div.content{
    padding-left: 3vw;
}

control-left-align{
    padding: .75em;
}

img.clickable:hover{
    cursor: pointer
}

.leftjust{
    text-align: left;
}

.rightjust{
    float: right;
}

.inline{
    display: inline-block;
}

#resultsContainer {
    width: 85vw;
    height: 25vh;
    display: grid;
    grid-template-columns: 60vw, 40vw;
}

#results {
    padding-left: 3vw;
    column-width: 220px;
}

#wildcardLegend:before {
    content: " ";
    margin-left: 3em;
    display: inline-block;
}

#stlabel-2:before, #stlabel-3:before, #stlabel-4:before {
    content: " ";
    margin-left: 2em;
    display: inline-block;
}

#wildcardLegend {
    vertical-align: bottom;
}

#searchTypeCtl {
    width: fit-content;
    display: inline;
}

#searcher {
    width: 85vw;
}