@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section HeaderScript{
 <script type="text/javascript">
     $('#results').tooltip();
     window.addEventListener('DOMContentLoaded', (event) => {
        $('#searcher').on
            ("input", function () { street_searcher(@Model.MinSearchPattern); });
    });
</script>
}
<span><small>* = wildcard</small></span>
<form id="searchFrm" class="pico">
    <input placeholder="Search for streets by typing at least 3 letters..." type="text" id="searcher" autofocus />
</form>

<div id="resultsContainer" class="pico">
    <ul id="results">

    </ul>
</div>