@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section HeaderScript{
 <script type="text/javascript">
     $('#results').tooltip();
     $("input").checkboxradio();
     var searchAction = function () { street_searcher(@Model.MinSearchPattern); };
     window.addEventListener('DOMContentLoaded', (event) => {
         $('#map').hide();
       $('#searcher').on("input", searchAction);
       $('input[name="search-type-radio"]').on("change", searchAction)
    });
</script>
<style>
    #resultsContainer {
         width: 85vw;
    }    
    #results {
         padding-left: 3vw;
         height: 50vh;
         column-width: 220px;
    }
    #wildcardLegend:before {
        content: " ";
        margin-left: 3em;
        display: inline-block;   
    }

        #stlabel-2:before, #stlabel-3:before, #stlabel-4:before {
            content: " ";
            margin-left: 2em;
            display: inline-block;
        }

    #wildcardLegend{
        vertical-align: bottom;
    }
    #searchTypeCtl {
            width: fit-content;
            display: inline;
    }
    #searcher{
        width: 85vw;
    }
    

</style>
}

<fieldset class="control-left-align" id="searchTypeCtl">
    <legend>Search Type</legend>
    <label for="radio-contains">Contains</label>
    <input type="radio" name="search-type-radio" id="radio-contains" value="Contains" checked />
    <label id="stlabel-2" for="radio-startswith">Starts With</label>
    <input type="radio" name="search-type-radio" id="radio-startswith" value="StartsWith" />
    <label id="stlabel-3" for="radio-endswith">Ends With</label>
    <input type="radio" name="search-type-radio" id="radio-endswith" value="EndsWith" />
    <label id="stlabel-4" for="radio-endswith">Sounds-like</label>
    <input type="radio" name="search-type-radio" id="radio-phonetic" value="Phonetic" />
 </fieldset>
<span id="wildcardLegend"><small>* = wildcard</small></span>
    <P/>
<form id="searchFrm" class="control-left-align pico">
    <input placeholder="Search for streets by typing at least 3 letters..." type="text" id="searcher" autofocus />
</form>

<div id="resultsContainer" class="pico">
    <ul id="results">

    </ul>
    <IFRAME id="map" src="" width="600" height="400"></IFRAME>
</div>

