@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section HeaderScript{
 <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', (event) => {
        $('#searcher').on
            ("input",
                function () {
                    var pat = $('#searcher').val();
                    if (pat.length >= @Model.MinSearchPattern) {
                        $('#results').empty();
                        $.getJSON('/api/StreetRecord/' + pat).done(
                            function (results) {
                                $.each(
                                    results, function (i, street) {
                                        var num = i + 1;
                                        var item = `<li>${num}. <strong>${street.name}</strong></li>`;
                                        $('#results').append(item);
                                    }
                                );
                            }
                        );
                    } else if (pat.length == 0) {
                        $('#results').empty();
                    }
                }
            );
    });
</script>
}
<div class="pico content">
    <small>* = wildcard</small>
</div>
<form id="searchFrm" class="pico">
    <input type="text" id="searcher" autofocus />
</form>

<div id="resultsContainer" class="pico">
    <ul id="results">

    </ul>
</div>